div.google {
    display: flex;
    flex-direction: row;
    float: left;
    padding-left: 50%;
}

div.head {
    display: flex;
    flex-direction: row-reverse;
    float: right;
    align-items: center;
    padding-right: 50%;
}